/*.beerImage{
    width:100%;
  height:200px;
}*/


.render-beers{
  width:100%;
}

.dropdown{
  width:50%;

}
.beer {
  background-color:gray;
  width:30%;
  box-sizing: border-box;
/*  border: 8px white solid;*/
  margin: 1%;
  padding:2%;
  height:410px;
  border-radius:1%;

}

.beerImage {
  position:relative;
}

.beerImage img {
  width:80%;
  height:150px;
  border: 2px solid black;
}

.remove {
  height:20px;
  width: 20px;
  font-size:20px;
  color:red;
  position:absolute;
  top:0;
  right:0;
}

.rate-input {
  width:65%;
  display:inline
}